@import "../../colors.scss";

.about-us {
  padding: 80px 0;

  .container {
    display: flex;
    gap: 18px;
  }

  &__item {
    background: $green;
    color: $white;
    padding: 24px 24px 35px 24px;
    display: flex;
    gap: 18px;

    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
    }

    p {
      margin-top: 12px;
    }

    a {
      color: $white;
      margin-top: 23px;
      display: inline-block;
    }
  }
}
