@import "../../colors.scss";

.contact-us {
  background: $lightGreen;
  padding: 80px 0 120px 0;

  .container {
    display: flex;
    filter: drop-shadow(3px 4px 32px rgba(0, 0, 0, 0.12));
    border-radius: 12px;
  }

  &__info {
    width: 425px;
    padding: 42px 48px 50px 42px;
    background: url("../../assets/contactUs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px 0 0 12px;

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
    }

    p {
      margin-top: 16px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 58px;

      li {
        display: flex;
        align-items: center;

        img {
          width: 21px;
          margin-right: 25px;
        }

        a {
          color: $black;
          text-decoration: none;
        }
      }
    }

    .social-icon {
      margin-right: 40px;
    }
  }

  .form {
    flex: 1;
    background: $white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0px 12px 12px 0px;
    padding: 48px 20px;
    column-gap: 18px;
    row-gap: 26px;

    label {
      display: flex;
      flex-direction: column;
      font-size: 14px;

      &.required span::before {
        content: "* ";
        color: $red;
      }

      input {
        margin-top: 8px;
        padding: 12px;
        border: 1px solid $black;
        border-radius: 3px;
      }
    }

    &__positions {
      grid-column: 1/3;
      display: flex;

      label {
        flex-direction: row;
        align-items: center;
        margin-right: 40px;
        cursor: pointer;

        input {
          margin: 0 10px 0 0;
          cursor: pointer;
        }
      }
    }

    &__message {
      grid-column: 1/3;

      textarea {
        margin-top: 8px;
        padding: 12px;
        border: 1px solid $black;
        border-radius: 3px;
      }
    }

    &__terms {
      display: flex;
      gap: 60px;
      grid-column: 1/3;

      label {
        flex-direction: row;
        align-items: center;

        input {
          margin: 0 20px 0 0;
        }
      }
    }

    &__submit {
      grid-column: 2/3;
      display: flex;
      justify-content: flex-end;

      input {
        background: $green;
        color: $white;
        padding: 11px 40px;
        border: none;
        font-size: 18px;
        line-height: 150%;
      }
    }
  }
}
